# Ignore Python cache files
data/raw/*
data/raw/aml_tcga_gdc/*
!data/raw/aml_tcga_gdc/data_mutations.txt
.Rhistory
.RData
.Rproj.user/
.pytest_cache/
*.pyc
renv/
environment/
good-conda.sif
good-conda.tar
